{
  "extends": [
    "stylelint-rscss/config",
    "stylelint-config-recommended"
  ],
  "plugins": [
    "stylelint-csstree-validator",
    "stylelint-images",
    "stylelint-order"
  ],
  "rules": {
    "csstree/validator": true,
    "images/broken": true,
    "images/prefer-data-uri": 256,
    "order/properties-alphabetical-order": true
  }
}