.button {
    font-family: Lato;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.is-link {
    background-color: #3498db !important;

    &:hover {
        background-color: #2980b9 !important;
    }
}

.page {
    & > .header {
        padding-bottom: 30px;
        padding-top: 30px;

        & > .title,
        & > .date {
            font-family: Bahnschrift;
        }

        & > .title {
            font-weight: normal;
        }

        & > .date {
            color: #7f8c8d;
        }
    }

    & > .content {
        background-color: #ecf0f1;
        padding-bottom: 50px;
        padding-top: 25px;
    }
}

.floated-box {
    background-color: #fff;
    box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.28);
    padding: 20px 10px;

    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }

    & .title {
        font-family: Bahnschrift;
        font-size: 22px;
        font-weight: normal;
        text-align: center;
    }
}

.is-vertical-center {
    align-items: center;
}