.featured {
    position: relative;

    & .columns {
        justify-content: space-around;
        position: relative;
    }

    & .floated-box {
        background-color: #fff;
        box-shadow: 0px 0px 42px -5px rgba(0,0,0,0.28);
        padding-bottom: 20px;
        padding-top: 26px;
        position: relative;
        top: -40px;

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }

        & > .content {
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
    
            & > .icon {
                height: auto;
                margin-bottom: 18px;
                width: 54px;
            }

            & > .title,
            & > .subtitle {
                font-weight: normal;
            }

            & > .title {
                font-family: Bahnschrift;
                font-size: 24px;
            }
    
            & > .subtitle {
                font-family: Lato;
                font-size: 16px;

                @media screen and (min-width: 769px) and (max-width: 956px) {
                    min-height: 36px;
                }
            }
    
            & > .button {
                width: 100%;
            }
        }
    }
}