.leadership {
    text-align: center;

    & span {
        display: block;
    }

    & .floated-box {
        padding: 20px 10px;
    }

    & .name {
        font-weight: bold;
    }

    & .rule {
        font-family: Bahnschrift;
        font-size: 22px;
    }

    & .name,
    & .email,
    & .phone {
        font-family: Lato;
    }
}