.leadership {
    text-align: center;

    & span {
        display: block;
    }

    & .name {
        font-weight: bold;
    }

    & .name,
    & .email,
    & .phone {
        font-family: Lato;
    }
}